@if(loading){
  <div class="loading-container">
    <img src="..\..\..\assets\icons8-hilandero.gif" alt="Cargando..." />
  </div>
} @else {
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Detalles</th>
      </tr>
    </thead>
    <tbody>
      @for (product of productList; track $index) {
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.title}}</td>
        <td>{{product.price | currency}}</td>
        <td>
          <button type="button" class="btn btn-custom" (click)="navegate(product.id)">
            <i class="fas fa-info-circle"></i> Detalles
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
}

